*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

@media only screen and (max-width:75em) {
    html {
        font-size: 50%;
    }
}

body {
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: 
    8rem minmax(6rem, 1fr)
    [center-start] repeat(8, minmax(min-content, 14rem))
    [center-end] minmax(6rem, 1fr);
}

@media only screen and (max-width:
62.5em) {
    .container {
    grid-template-rows: 6rem 80vh
    min-content 40vw repeat(3, 
    min-content);
    grid-template-columns:
    [full-start] minmax(6rem, 
    1fr) [center-start] repeat(8
    [col-start] minmax(min-content, 14rem)
    [col-end])
    [center-end] minmax(6rem, 
    1fr) [full-end];
    background-size: auto;
}
}

@media only screen and (max-width: 50em) {
    .container {
        grid-template-rows: 6rem calc(100vh - 6rem);
    }
}

.foods {
    grid-column: center-start/center-end;
    margin: 28rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    
}

.food {
    background-color: wheat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3.5rem;
    border: solid 1px teal;
    box-shadow: inset 5px 5px 10px ;
}

.food__img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    transform: scale(0.8); 
    transition: 0.5s;
}

.foodimg{
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    transform: scale(0.8);
    visibility: hidden;
}

.food__img:hover {
    transform: scale(1);
}

.food__name {
grid-row: 1 / 2;
grid-column: 1 / -1;
justify-self: center;
align-self: end;
z-index: 3;
width: 80%;
font-family: sans-serif;
font-size: 1.9rem;
text-align: center;
padding: 1.25rem;
background-color: black;
color: white;
font-weight: 400;
transform: translateY(50%);
}


.skladniki__1,
.skladniki__2{
margin-top: 2.5rem;
}

.skladniki__1,
.skladniki__2,
.skladniki__3,
.skladniki__4{
font-size: 1.5rem;
margin-left: 5rem;
display: flex;
align-items: center;
}

.btn{
   background-color: aquamarine;
   color: white;
  border: teal 1px solid;
   border-radius: 0;
   font-family: sans-serif;
   font-size: 1.7rem;
   text-transform: uppercase;
   padding: 1.2rem; 
   grid-column:1 / -1; 
}

.btn:hover{
    background-color: teal;
    color: black;
}

